.full-body-dimension {
    height: 100vh;
    padding: 0;
    background-color: rgb(30, 45, 59);
    overflow: scroll;
}

.main-section {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.custom-container {
    width: 65%;
    padding: .7rem 0;
    display: flex;
}